.logo{
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 6vh 6vh 6vh;
    background-color: var(--my-black); 
    border-radius: 2em;
}
.logo img{
    max-height: 8vw;
    max-width: 8vw;
    min-width: 100px;
    min-height: 100px;
    
}
.imagem{
    grid-row:1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    grid-row-start:2;
    grid-row-end:2 ;
    grid-column-start: 2;
    grid-column-end: 2;
    
}