.thumb>img{
    width: 15vw;
    height: 30vh;
    min-width: 200px;
    min-height: 120px;
    margin: 2em;
    border-radius: .6em;
    border: .01em solid var(--light-gray);
    background-color: var(--contrast-color);    border-radius: .6em;
}
.card{
    max-width: 100%;
    display: flex;
    align-items: center;
    border-radius: .6em;
    border: .01em solid var(--light-gray);
    background-color: var(--contrast-color);
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
}
.details{
    margin-left: .2em;
}