.thumb>img{
    width: 14vw;
    min-width: 173px;
    height: 36vh;
    margin: 2em;
    border-radius: .6em;
    border: .01em solid var(--light-gray);
    background-color: var(--contrast-color);    border-radius: .6em;
    position: relative;
}
.card{
    max-width: 100%;
    display: flex;
    align-items: center;
    border-radius: .6em;
    border: .01em solid var(--light-gray);
    background-color: var(--contrast-color);
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 1em;
    position: relative;
    /*Efeito de aumento do card*/
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: linear all 200ms;
}
.card::after{
    /*Efeito de aumento do card*/
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
    transition: linear all 200ms ;
    z-index: -1;
}
.card:hover{
transform: scale(1.02,1.02);
}
.details{
    z-index: 1;
    margin-left: .2em;
    position: relative;
    padding: .2em;

}
.details a{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--light-gray);
    border-radius: .6em;
    background-color: var(--main-color);
    text-align: center;
}
.details a:hover{
    color: var(--contrast-color);
    transition:linear all 450ms;
}
.title{
    text-align: center;
}
.description{
    margin:1em;
}