.principal{
    margin-left: 5vw;
    margin-right: 5vw;
    grid-column: 1/5;
    grid-row: 2;
    position: relative;
    margin-bottom: 2em;
}
.main{
    position: relative;
    top :0;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}
.home__header{
    position: relative;
    top:0;
    margin-top: 2em;
    text-align: center;
    padding-top: .2em;
    background-color: var(--my-black);
    border-radius: .6em;
    color: var(--contrast-color);
    border: .01em solid var(--light-gray);
    
}