
@keyframes socialDance{
    0%{transform:rotate(0deg);}
    25%{transform: rotate(10deg);
    }
    75%{transform: rotate(-10deg)scale(1.05,1.05);}
    100%{transform: rotate(0deg);}
}
.socialMedia img{
    width: 3vw;
    height: 3vw;
    min-width: 50px;
    min-height: 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: linear all 200ms;
    background-color: white;
    border-radius: 1.3em;
    border:0.01px solid rgba(44, 0, 42, 0.596);
}
.socialMedia img::after{
    /*Efeito de aumento do socialMedia*/
    transition: linear all 200ms ;
    z-index: -1;
}
.socialMedia img:hover{
    animation: socialDance 700ms ease-in-out;
}