ul{
    list-style:none;
    display: flex;
    justify-content: space-around;
    border-radius: 0.8em;
    flex-flow: row;
}
li a {
    border-radius: 0.6em;
    padding: 10px;
    background-color: var(--my-black);
}
li a:hover{
    background-color: rgba(0, 0, 0, 0.7);
}