.navbar ul{
    list-style:none;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    position: relative;
    top: 0;
    margin-top: 2em;
    margin-left: 5vw;
    margin-right: 5vw;
}
.navbar li a {
    border-radius: 0.6em;
    padding: 10px;
    border: 1px solid #ffffff00;
}
.navbar li a:hover{
    border: 1px white solid;
    transition: all 200ms;
    background-color: #00000021;
}