.navbar ul{
    list-style:none;
    display: flex;
    justify-content: space-around;
    border-radius: 0.8em;
    flex-flow: row;
    position: relative;
    top: 0;
    margin-top: 2em;
}
.navbar li a {
    border-radius: 0.6em;
    padding: 10px;
}
.navbar li a:hover{
    background-color: rgba(0, 0, 0, 0.7);
}