
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 1rem sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.2em 0;
}
:root{
  font-size: 20px;
  box-sizing: border-box;
  --main-color:rgb(253, 80, 80);
  --second-color:#654fadf3;
  --my-black:rgb(48, 48, 48);
  
}
#root{
display: grid;
grid-template-columns: 25vw 25vw 25vw 25vw;
grid-template-rows: 33.33vh 33.33vh 33.34vh;
}